@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.lobster-two-bold {
    font-family: "Lobster Two", sans-serif;
    
    font-style: normal;
    
}
.montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    
    font-style: normal;}
.container{
 width:100%;
 display:flex;
 border-radius:20px;
  justify-content:center;
  margin:1rem auto;
  box-sizing:border-box;
padding:0.5rem;
box-shadow:1px 1px 3px 1px black;
flex-wrap:wrap;
gap: 1rem;
}
.slide{
  
   width:100%;
   height:300px;
   object-fit:cover;
   box-sizing:border-box;
   border-radius:20px;
   padding:0.1rem
 
}
.slide.active{
 display:block
 
}
.homehr{
    background:black;
    height:2px;
}

.NavIcon{
    justify-content:center;
    align-items:center;
    display:flex;
    margin-right:10px;

}
.smIcon{
    width:100%;
    height:100%;
    padding:0.2rem;
    
}
.footer{
    justify-content:center;
    display:flex;
    align-items: start;
margin:6px;
}
.footerdivs{
    justify-content:center;
    align-items:center;
    display:flex;
    flex-direction:column;
    text-align:center;
    height:50vh; 
   margin:auto ;
   
    width:80%;
    border-radius:20px;
    box-shadow:1px 1px 3px 1px black
}

@media screen and (Max-width:565px){
    .NavbarRight{
        display:none;
    }
    .container{
        width:80%;
    }
    .footer{
        flex-direction: column;
    
}
}
@media screen and (Min-width:700px){
    .slide{
  
        height:400px}
}
@media screen and (Min-width:900px){
    .slide{
  
        height:500px}
}
@media screen and (Min-width:1500px){
    .slide{
  
        height:800px
    }
}