@tailwind base;
@tailwind components;
@tailwind utilities;
.logdiv{
    width:50%;
  align-items:center;
  justify-content:center;
  display:flex;
  margin-left:4px;


}
.logo{
  margin:auto;
  height:110px;
  object-fit:cover;

}
.Navbar{
    justify-content:space-between;
    align-items:center;
    display:flex;
    height:110px;
  box-shadow:1px 1px 4px 2px black;

}
.NavbarRight{

    justify-content:space-between;
    align-items:center;
    margin-right:1rem;
    
}
.navsmright{
display:flex;
flex-direction:column;
position:fixed;
width:80%;
top:0;
margin-top:5rem;
z-index:3;
border-Radius:20px;

}
.navLinks{
    margin:1rem
}
.wrapp{
    margin-top:-2rem;
}
.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}
